<div>
  <div>
    <h1>
      Photo<%# @the_photo.id %> Details
    </h1>

    <div>
    <!--
      <div>
        <a href="/photos">
          Go back
        </a> 
      </div>
      
      <div>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete photo
        </a>
      </div>
    </div>
    -->
     <dt>
        Image
      </dt>
      <dd>
        <%= @the_photo.image %>
      </dd>

    <dl>
      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.owner_id %>
      </dd>

       <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

       <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

 <dt>Fans</dt>
  <dd>
    tyree, vanetta, judith, robin, and debbi
  </dd>

  <dt>Add a fan</dt>
  <dd>

    <form action="/insert_like" method="post">
      <input type="hidden" value="777" name="query_photo_id">
      <button>Like</button>
    </form>
  </dd>
     


  <dt>Edit photo</dt>
  <dd>
    <form action="/modify_photo/951" method="post" enctype="multipart/form-data">
      <label for="browser_image">Image URL</label>
      <input id="browser_image" type="file" name="query_image" placeholder="Enter a URL for the image..." value="http://res-3.cloudinary.com/dt1gn6erd/image/upload/v1681018743/oapb3wnnnnmbe90j12lp.jpg">
    
      <label for="browser_caption">Caption</label>
      <textarea id="browser_caption" name="query_caption" placeholder="Enter a caption for the photo...">tsskkk nice...</textarea>
    
      <button>Update photo</button>
    </form>
  </dd>

  <dt>Delete photo</dt>
  <dd>
    <a href="/delete_photo/951">
      Delete this photo
    </a>
  </dd>
</dl>

<!--
      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.updated_at) %> ago
      </dd>
-->

    </dl>
  </div>
</div>





<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

    <tr>
      <td>
        roselee
      </td>

      <td>
        Know how to listen, and you will profit even from those who talk badly.
      </td>

      <td>
        almost 4 years ago
      </td>
    </tr>  
    <tr>
      <td>
        diego
      </td>

      <td>
        The mind is not a vessel to be filled but a fire to be kindled.
      </td>

      <td>
        almost 4 years ago
      </td>
    </tr>  
    <tr>
      <td>
        trina
      </td>

      <td>
        It is impossible to begin to learn that which one thinks one already knows.
      </td>

      <td>
        almost 4 years ago
      </td>
    </tr>  
    <tr>
      <td>
        augustine
      </td>

      <td>
        Only the educated are free.
      </td>

      <td>
        almost 4 years ago
      </td>
    </tr>  
    <tr>
      <td>
        galen
      </td>

      <td>
        Most people would rather give than get affection.
      </td>

      <td>
        almost 4 years ago
      </td>
    </tr>  
    <tr>
      <td>
        anisa
      </td>

      <td>
        There was never a genius without a tincture of madness.
      </td>

      <td>
        almost 4 years ago
      </td>
    </tr>  
    <tr>
      <td>
        jolie
      </td>

      <td>
        Beware the barrenness of a busy life.
      </td>

      <td>
        almost 4 years ago
      </td>
    </tr>  
    <tr>
      <td>
        galen
      </td>

      <td>
        A few vices are sufficient to darken many virtues.
      </td>

      <td>
        almost 4 years ago
      </td>
    </tr>  
    <tr>
      <td>
        robin
      </td>

      <td>
        The mind is not a vessel to be filled but a fire to be kindled.
      </td>

      <td>
        almost 4 years ago
      </td>
    </tr>  
</table>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <input type="hidden" value="777" name="query_photo_id">
  
  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>

  </body>
</html>





<!--
<hr>


<div>
  <div>
    <h2>
      Edit photo
    </h2>

    <form action="/modify_photo/<%= @the_photo.id %>"  method="post" >
      <div>
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption"><%= @the_photo.caption %></textarea>
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_photo.comments_count %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_photo.image %>">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count" value="<%= @the_photo.likes_count %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_photo.owner_id %>">
      </div>

      <button>
        Update photo
      </button>
    </form>
  </div>
</div>

<hr>


-->
